@page
@model first.Pages.AboutMeModel
@{
    ViewData["Title"] = "A bit about me";
}
<Section id="Main">
    <h1>How could I describe myself</h1>
    <p>
        I have worked in IT for over 20 years AT in different positions. Last 3 years I've been working as BI developer at Infopulse. \
        Before this, I was the head of the IT Development department at the Ukrainian Agriculture company. 
        AlsoAs well I am'm bilingual. I know Ukrainian, English and unfortunatly rUSSIAN. I would be glad to learn a new one.
        I am married and I got a daughter.
    </p>
</Section>